:root{
  --width: 720;
  --height: 1280;
}

body {
  position: relative;
  margin: 0;
  /* Prevent scroll bar causing element shift */
  overflow: hidden;
}

.flex{
  display: flex;
}

.relative{
  position: relative;
}

.position-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ui {
  position: absolute;
  top: 0;
  /*left: 50%; */
  width: calc(var(--width) * 1px);
  /* height: calc(var(--height) * 1px); */
  /* transform: translate(-50%, -50%) scale(var(--scale, 0)); */
  transform: scale(var(--scale, 0));
  /* transform-origin: center; */
  box-sizing: border-box;
  overflow: hidden;
  z-index: 10;
}